In [3]:
# 필요 라이브러리 import
import pandas as pd
import numpy as np

# 국민건강보험공단_건강검진정보_2021_12 분석
건강검진 결과지 제대로 읽는 법


https://health.chosun.com/site/data/html_dir/2016/11/30/2016113001291.html

## 1. 데이터 전처리

### 1) 각 질병 컬럼 추가

In [4]:
url1="https://raw.githubusercontent.com/KimYounghwan/bigdata/master/%EA%B5%AD%EB%AF%BC%EA%B1%B4%EA%B0%95%EB%B3%B4%ED%97%98%EA%B3%B5%EB%8B%A8_%EA%B1%B4%EA%B0%95%EA%B2%80%EC%A7%84%EC%A0%95%EB%B3%B4_20211229_1.CSV"
url2="https://raw.githubusercontent.com/KimYounghwan/bigdata/master/%EA%B5%AD%EB%AF%BC%EA%B1%B4%EA%B0%95%EB%B3%B4%ED%97%98%EA%B3%B5%EB%8B%A8_%EA%B1%B4%EA%B0%95%EA%B2%80%EC%A7%84%EC%A0%95%EB%B3%B4_20211229_2.CSV"
url3="https://raw.githubusercontent.com/KimYounghwan/bigdata/master/%EA%B5%AD%EB%AF%BC%EA%B1%B4%EA%B0%95%EB%B3%B4%ED%97%98%EA%B3%B5%EB%8B%A8_%EA%B1%B4%EA%B0%95%EA%B2%80%EC%A7%84%EC%A0%95%EB%B3%B4_20211229_3.CSV"
url4="https://raw.githubusercontent.com/KimYounghwan/bigdata/master/%EA%B5%AD%EB%AF%BC%EA%B1%B4%EA%B0%95%EB%B3%B4%ED%97%98%EA%B3%B5%EB%8B%A8_%EA%B1%B4%EA%B0%95%EA%B2%80%EC%A7%84%EC%A0%95%EB%B3%B4_20211229_4.CSV"

In [5]:
import pandas as pd

검진정보1=pd.read_csv(url1)
검진정보2=pd.read_csv(url2)
검진정보3=pd.read_csv(url3)
검진정보4=pd.read_csv(url4)

In [6]:
df = 검진정보1.append(검진정보2).append(검진정보3).append(검진정보4)
df

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석,데이터 공개일자
0,2020,1,36,1,9,165,60,72.1,1.2,1.5,...,1.1,21.0,27.0,21.0,1.0,0.0,0,NaN,NaN,2021-12-29
1,2020,2,27,2,13,150,65,81.0,0.8,0.8,...,0.5,18.0,15.0,15.0,1.0,0.0,0,NaN,NaN,2021-12-29
2,2020,3,11,2,12,155,55,70.0,0.6,0.7,...,0.7,27.0,25.0,7.0,1.0,0.0,0,NaN,NaN,2021-12-29
3,2020,4,31,1,13,160,70,90.8,1.0,1.0,...,1.2,65.0,97.0,72.0,1.0,0.0,1,0.0,0.0,2021-12-29
4,2020,5,41,2,12,155,50,75.2,1.5,1.2,...,0.7,18.0,17.0,14.0,1.0,0.0,0,NaN,NaN,2021-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,2020,999996,41,2,13,145,55,81.0,0.9,1.0,...,0.6,21.0,25.0,18.0,1.0,0.0,0,NaN,NaN,2021-12-29
249996,2020,999997,26,2,12,160,55,76.5,1.5,1.5,...,0.8,21.0,14.0,19.0,1.0,1.0,0,NaN,NaN,2021-12-29
249997,2020,999998,48,1,9,175,70,85.0,1.2,1.2,...,0.9,26.0,20.0,17.0,1.0,1.0,0,NaN,NaN,2021-12-29
249998,2020,999999,48,2,9,160,70,91.0,0.6,0.5,...,1.0,25.0,29.0,13.0,1.0,0.0,0,NaN,NaN,2021-12-29
249999,2020,1000000,28,1,11,160,55,76.1,2.0,2.0,...,0.9,17.0,13.0,24.0,2.0,0.0,0,NaN,NaN,2021-12-29

In [7]:
# 년도 확인 : 2020년 밖에 없음
df.loc[:, '기준년도'].unique()

array([2020])

In [8]:
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [9]:
# 불필요 컬럼 제거
df = df.drop(['기준년도', '가입자 일련번호', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자',
                '허리둘레', '청력(좌)', '청력(우)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤'], axis=1)

In [10]:
df.isnull().sum()

시도코드                0
성별코드                0
연령대 코드(5세단위)        0
신장(5Cm단위)           0
체중(5Kg 단위)          0
시력(좌)             257
시력(우)             252
수축기 혈압           7532
이완기 혈압           7534
식전혈당(공복혈당)       7602
혈색소              7611
요단백             12141
혈청크레아티닌          7602
(혈청지오티)AST       7601
(혈청지오티)ALT       7602
감마 지티피           7603
흡연상태              343
음주여부              196
dtype: int64

In [11]:
# 결측데이터 처리....
print(df.dropna().isnull().sum())  # 확인
df = df.dropna()

시도코드            0
성별코드            0
연령대 코드(5세단위)    0
신장(5Cm단위)       0
체중(5Kg 단위)      0
시력(좌)           0
시력(우)           0
수축기 혈압          0
이완기 혈압          0
식전혈당(공복혈당)      0
혈색소             0
요단백             0
혈청크레아티닌         0
(혈청지오티)AST      0
(혈청지오티)ALT      0
감마 지티피          0
흡연상태            0
음주여부            0
dtype: int64

In [12]:
df

,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),시력(좌),시력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부
0,36,1,9,165,60,1.2,1.5,127.0,79.0,90.0,15.0,1.0,1.1,21.0,27.0,21.0,1.0,0.0
1,27,2,13,150,65,0.8,0.8,110.0,73.0,87.0,12.7,1.0,0.5,18.0,15.0,15.0,1.0,0.0
2,11,2,12,155,55,0.6,0.7,123.0,80.0,102.0,12.8,1.0,0.7,27.0,25.0,7.0,1.0,0.0
3,31,1,13,160,70,1.0,1.0,134.0,84.0,146.0,16.4,1.0,1.2,65.0,97.0,72.0,1.0,0.0
4,41,2,12,155,50,1.5,1.2,144.0,89.0,110.0,12.4,1.0,0.7,18.0,17.0,14.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,41,2,13,145,55,0.9,1.0,132.0,78.0,124.0,13.6,1.0,0.6,21.0,25.0,18.0,1.0,0.0
249996,26,2,12,160,55,1.5,1.5,100.0,64.0,98.0,14.0,1.0,0.8,21.0,14.0,19.0,1.0,1.0
249997,48,1,9,175,70,1.2,1.2,110.0,64.0,83.0,16.0,1.0,0.9,26.0,20.0,17.0,1.0,1.0
249998,48,2,9,160,70,0.6,0.5,137.0,82.0,111.0,11.9,1.0,1.0,25.0,29.0,13.0,1.0,0.0
249999,28,1,11,160,55,2.0,2.0,133.0,74.0,121.0,14.9,1.0,0.9,17.0,13.0,24.0,2.0,0.0

In [13]:
'''
신장병 라벨링
1. 요단백
    1) 정상기준 : 하루 기준 100mg 이하, 검사 기준 5~10mg 이하
    2) ['요단백'] 컬럼에서 1, 2는 양호 / 3, 4, 5, 6은 의심

2. 혈청크레아티닌
    1) 정상 기준 0.50~1.4 mg/dL

3. 라벨링
    1) 요단백 & 혈청 크레아티닌 둘 다 있으면 1점
    2) 둘 중 하나만 있으면 0.5점
    3) 하나도 없으면 0점으로 진행
'''

"\n신장병 라벨링\n1. 요단백\n    1) 정상기준 : 하루 기준 100mg 이하, 검사 기준 5~10mg 이하\n    2) ['요단백'] 컬럼에서 1, 2는 양호 / 3, 4, 5, 6은 의심\n\n2. 혈청크레아티닌\n    1) 정상 기준 0.50~1.4 mg/dL\n\n3. 라벨링\n    1) 요단백 & 혈청 크레아티닌 둘 다 있으면 1점\n    2) 둘 중 하나만 있으면 0.5점\n    3) 하나도 없으면 0점으로 진행\n"

In [14]:
'''step1) 요단백 정상 구분하는 컬럼 추가'''
# yo_nor = (df.loc[:, '요단백'] < 3)  # 요단백 정상 조건
# print(df.loc[yo_nor]['요단백'].unique())  # check

# 함수 정의
def yo_check(x):
    # 정상 조건
    if x < 3:
        return 0

    # 비정상 조건
    else:
        return 1

# 요단백이 정상 조건이면 요단백결과는 0
df['요단백결과'] = df['요단백'].apply(lambda x: yo_check(x))

In [15]:
# 결과 확인
df['요단백결과'].value_counts()

0    954057
1     33025
Name: 요단백결과, dtype: int64

In [16]:
'''step2) 혈청크레아티닌 정상 구분하는 컬럼 추가 : 기준 0.50~1.4 mg/dL'''
# 함수 정의
def cre_check(x):
    # 정상 조건
    if (x >= 0.5) and (x <= 1.4):
        return 0

    # 비정상 조건
    else:
        return 1

# 요단백이 정상 조건이면 요단백결과는 0
df['혈크결과'] = df['혈청크레아티닌'].apply(lambda x: cre_check(x))

In [17]:
# 결과 확인
df['혈크결과'].value_counts()

0    968091
1     18991
Name: 혈크결과, dtype: int64

In [18]:
'''step3) 요단백 & 혈청크레아티닌 결과 종합하여 라벨링 하는 최종 결과 컬럼 추가'''
def final_check(x):
    if (x["요단백결과"] == 1) & (x["혈크결과"] == 1):
        return 1
    elif (x["요단백결과"] == 1) | (x["혈크결과"] == 1):
        return 0.5
    elif (x["요단백결과"] != 1) & (x["혈크결과"] != 1):
        return 0

df['신장병결과'] = df.apply(final_check, axis=1)

In [19]:
# 결과 확인
df['신장병결과'].value_counts()

0.0    938331
0.5     45486
1.0      3265
Name: 신장병결과, dtype: int64

In [20]:
'''당뇨병 라벨링'''
df['당뇨'] = df['식전혈당(공복혈당)'].apply(lambda x: 1 if x > 126 else 0)

In [21]:
# 결과 확인
df['당뇨'].value_counts()

0    886934
1    100148
Name: 당뇨, dtype: int64

In [22]:
'''빈혈 라벨링'''
def blood(x):
    if (x['성별코드'] == 1 and x['혈색소'] <= 13) or (x['성별코드'] == 0 and x['혈색소'] <= 12):
        return 1
    else:
        return 0

df['빈혈'] = df.apply(blood,1)

In [23]:
# 결과 확인
df['빈혈'].value_counts()

0    963313
1     23769
Name: 빈혈, dtype: int64

In [24]:
'''
간기능 라벨링
1) AST 정상수치 0~40 IU/L, 질환의심 51이상
2) ALT 정상수치 0~40 IU/L, 질환의심 46이상
3) 감마지티피(남성) 정상수치 11~63 IU/L
    감미지티피(여성) 정상수치 8~35 IU/L
'''

'\n간기능 라벨링\n1) AST 정상수치 0~40 IU/L, 질환의심 51이상\n2) ALT 정상수치 0~40 IU/L, 질환의심 46이상\n3) 감마지티피(남성) 정상수치 11~63 IU/L\n    감미지티피(여성) 정상수치 8~35 IU/L\n'

In [25]:
#ast 수치 51일 이상일시, 질환의심(1)로 flag하는 함수
def liver_AST(x):
    if x  >= 51:
        return 1
    else :
        return 0

df['liver_ast']=df['(혈청지오티)AST'].apply(liver_AST)

In [26]:
# 결과 확인
df['liver_ast'].value_counts()

0    941359
1     45723
Name: liver_ast, dtype: int64

In [27]:
#alt 수치 46일 이상일시, 질환의심(1)로 flag하는 함수
def liver_ALT(x):
    if x  >= 46:
        return 1
    else :
        return 0

df['liver_alt']=df['(혈청지오티)ALT'].apply(liver_ALT)

In [28]:
# 결과 확인
df['liver_alt'].value_counts()

0    888532
1     98550
Name: liver_alt, dtype: int64

In [29]:
# 감마 지피티 컬럼 추가
def gtp(x):
    if x['성별코드'] == 1 and (x['감마 지티피'] < 11 or x['감마 지티피'] > 63):
        return 1
    elif x['성별코드'] == 2 and (x['감마 지티피'] < 8 or x['감마 지티피'] > 35):
        return 1
    else:
        return 0

df['간이상'] = df.apply(gtp, axis=1)

In [30]:
# 결과 확인
df['간이상'].value_counts()

0    814343
1    172739
Name: 간이상, dtype: int64

In [31]:
# 최종 간이상 코드
df['간기능저하'] = (df['liver_ast']+ df['liver_alt'] +df['간이상']) / 3

In [32]:
# 결과 확인
df['간기능저하'].value_counts()

0.000000    760921
0.333333    158392
0.666667     44687
1.000000     23082
Name: 간기능저하, dtype: int64

In [33]:
'''간기능, 신장병 추출을 위한 중간과정 컬럼 삭제'''
df = df.drop(['요단백결과', '혈크결과', 'liver_ast', 'liver_alt', '간이상'], axis=1)

In [34]:
# 컬럼명 변경
df = df.rename(columns = {'신장병결과' : '신장병'})

In [35]:
# 확인
df.columns

Index(['시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)', '체중(5Kg 단위)', '시력(좌)',
       '시력(우)', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '혈색소', '요단백', '혈청크레아티닌',
       '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태', '음주여부', '신장병', '당뇨', '빈혈',
       '간기능저하'],
      dtype='object')

In [36]:
'''고혈압 저혈압 라벨링'''
# 고혈압 판단 함수
def hbp(x):
    systolic = x['수축기 혈압']
    diastolic = x['이완기 혈압']
    if systolic>=130 or diastolic>=80:
        return 1
    else:
        return 0

# 저혈압 판단 함수
def lbp(x):
    systolic = x['수축기 혈압']
    diastolic = x['이완기 혈압']
    if systolic<=90 or diastolic<=60:
        return 1
    else:
        return 0


df['고혈압'] = df.apply(hbp,1)
df['저혈압'] = df.apply(lbp,1)

In [37]:
# 결과 확인
print(df['고혈압'].value_counts())
print(df['저혈압'].value_counts())

1    511905
0    475177
Name: 고혈압, dtype: int64
0    930717
1     56365
Name: 저혈압, dtype: int64

In [38]:
'''비만 라벨링'''
#BMI 측정 함수
def bmi(x):
    h = x['신장(5Cm단위)']/100
    return x['체중(5Kg 단위)']/(h*h)

#bmi col 생성
df['BMI'] = df.apply(bmi,1)

In [39]:
# 저체중 판단 함수
def isUnderweight(x):
    if x['BMI']<18.5:
        return 1
    else:
        return 0

df['저체중'] = df.apply(isUnderweight,1)

In [40]:
#과체중 판단 함수
def isOverweight(x):
    if 25<=x['BMI']<=29:
        return 1
    else:
        return 0

df['과체중'] = df.apply(isOverweight,1)

In [41]:
#비만 판단 함수
def isObesity(x):
    if 30<=x['BMI']:
        return 1
    else:
        return 0

df['비만'] = df.apply(isObesity,1)

In [42]:
'''BMI 컬럼 삭제'''
df = df.drop(['BMI'], axis=1)

In [43]:
# 최종 확인
df

,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),시력(좌),시력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),...,음주여부,신장병,당뇨,빈혈,간기능저하,고혈압,저혈압,저체중,과체중,비만
0,36,1,9,165,60,1.2,1.5,127.0,79.0,90.0,...,0.0,0.0,0,0,0.000000,0,0,0,0,0
1,27,2,13,150,65,0.8,0.8,110.0,73.0,87.0,...,0.0,0.0,0,0,0.000000,0,0,0,1,0
2,11,2,12,155,55,0.6,0.7,123.0,80.0,102.0,...,0.0,0.0,0,0,0.333333,1,0,0,0,0
3,31,1,13,160,70,1.0,1.0,134.0,84.0,146.0,...,0.0,0.0,1,0,1.000000,1,0,0,1,0
4,41,2,12,155,50,1.5,1.2,144.0,89.0,110.0,...,0.0,0.0,0,0,0.000000,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,41,2,13,145,55,0.9,1.0,132.0,78.0,124.0,...,0.0,0.0,0,0,0.000000,1,0,0,1,0
249996,26,2,12,160,55,1.5,1.5,100.0,64.0,98.0,...,1.0,0.0,0,0,0.000000,0,0,0,0,0
249997,48,1,9,175,70,1.2,1.2,110.0,64.0,83.0,...,1.0,0.0,0,0,0.000000,0,0,0,0,0
249998,48,2,9,160,70,0.6,0.5,137.0,82.0,111.0,...,0.0,0.0,0,0,0.000000,1,0,0,1,0
249999,28,1,11,160,55,2.0,2.0,133.0,74.0,121.0,...,0.0,0.0,0,0,0.000000,1,0,0,0,0

### 2) 시도코드 전처리

In [44]:
df['시도코드'].value_counts()

41    244709
11    164082
26     67978
48     67676
28     57592
47     53565
27     47885
44     42025
46     37435
45     37422
43     33528
42     31500
30     29608
29     28135
31     25800
49     11743
36      6399
Name: 시도코드, dtype: int64

##### 지역코드
* 41 - 경기도
* 11 - 서울특별시
* 26 - 부산광역시
* 48 - 경상남도
* 28 - 인천광역시
* 47 - 경상북도
* 27 - 대구광역시
* 44 - 충청남도
* 46 - 전라남도
* 45 - 전라북도
* 43 - 충청북도
* 42 - 강원도
* 30 - 대전광역시
* 29 - 광주광역시
* 31 - 울산광역시
* 49 - 제주특별자치도
* 36 - 세종특별자치시

<변경>
1. 인천광역시 -> 경기도
2. 부산광역시 -> 경상남도
3. 대구광역시 -> 경상북도
4. 대전광역시 -> 충청남도
5. 광주광역시  -> 전라남도
6. 울산광역시 -> 경상남도
7. 세종특별자치시 -> 충청남도

In [45]:
before = [28, 26, 27, 30, 29, 31, 36]
after = [41, 48, 47, 44, 46, 48, 44]

def change_code(x):
    if x in before:
        return after[before.index(x)]
    else:
        return x

df_final = df.copy()
df_final['시도코드'] = df['시도코드'].apply(lambda x: change_code(x))

In [46]:
df_final

,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),시력(좌),시력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),...,음주여부,신장병,당뇨,빈혈,간기능저하,고혈압,저혈압,저체중,과체중,비만
0,44,1,9,165,60,1.2,1.5,127.0,79.0,90.0,...,0.0,0.0,0,0,0.000000,0,0,0,0,0
1,47,2,13,150,65,0.8,0.8,110.0,73.0,87.0,...,0.0,0.0,0,0,0.000000,0,0,0,1,0
2,11,2,12,155,55,0.6,0.7,123.0,80.0,102.0,...,0.0,0.0,0,0,0.333333,1,0,0,0,0
3,48,1,13,160,70,1.0,1.0,134.0,84.0,146.0,...,0.0,0.0,1,0,1.000000,1,0,0,1,0
4,41,2,12,155,50,1.5,1.2,144.0,89.0,110.0,...,0.0,0.0,0,0,0.000000,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,41,2,13,145,55,0.9,1.0,132.0,78.0,124.0,...,0.0,0.0,0,0,0.000000,1,0,0,1,0
249996,48,2,12,160,55,1.5,1.5,100.0,64.0,98.0,...,1.0,0.0,0,0,0.000000,0,0,0,0,0
249997,48,1,9,175,70,1.2,1.2,110.0,64.0,83.0,...,1.0,0.0,0,0,0.000000,0,0,0,0,0
249998,48,2,9,160,70,0.6,0.5,137.0,82.0,111.0,...,0.0,0.0,0,0,0.000000,1,0,0,1,0
249999,41,1,11,160,55,2.0,2.0,133.0,74.0,121.0,...,0.0,0.0,0,0,0.000000,1,0,0,0,0

In [47]:
# df_final.to_csv("국민건강검진정보_전처리완료.csv")

In [60]:
# 간기능저하 칼럼이 3개 이상이므로 1개일 때 0.4, 2개일 때 0.7로 변경
def change(x):
    if x <= 0.3:
        return 0.0
    elif x <= 0.6:
        return 0.4
    elif x < 1.000000:
        return 0.7
    else:
        return 1.0

df_final['간기능저하'] = df_final['간기능저하'].apply(change)

## 2. 데이터 분석 및 시각화

In [72]:
df_final.groupby(by="시도코드").count()[['음주여부']]

        음주여부
시도코드
11    164082
41    302301
42     31500
43     33528
44     78032
45     37422
46     65570
47    101450
48    161454
49     11743

In [70]:
df_final.groupby(by="시도코드").mean()

,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),시력(좌),시력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),혈색소,...,음주여부,신장병,당뇨,빈혈,간기능저하,고혈압,저혈압,저체중,과체중,비만
시도코드,,,,,,,,,,,,,,,,,,,,,
11,1.510586,11.977493,160.921369,62.722694,0.906064,0.907662,124.835692,76.695872,103.794456,14.197448,...,0.615241,0.027934,0.098530,0.021593,0.113983,0.512561,0.057404,0.038036,0.257396,0.050188
41,1.479618,11.690993,161.369612,63.685730,0.944589,0.946370,125.014476,77.157290,104.254151,14.295968,...,0.627507,0.026310,0.102067,0.020129,0.124685,0.522780,0.050202,0.033305,0.270816,0.057992
42,1.500063,12.204540,160.016825,63.077302,0.937756,0.947025,126.425016,77.308667,105.172889,14.236267,...,0.544571,0.027381,0.109683,0.024667,0.124610,0.550603,0.048667,0.030730,0.285206,0.062571
43,1.490724,11.953144,160.227571,62.656287,0.947623,0.953129,125.987771,77.706782,103.007516,14.239209,...,0.567555,0.022011,0.096874,0.023771,0.120789,0.557474,0.055774,0.035194,0.265987,0.057594
44,1.475100,11.822547,161.080454,63.209517,0.942357,0.945967,126.122937,77.736390,104.358520,14.236577,...,0.573137,0.027264,0.099728,0.023888,0.118248,0.561103,0.047609,0.036011,0.269800,0.053914
45,1.509032,12.202394,159.886564,62.390973,0.952400,0.946689,125.358800,77.134440,105.045909,14.086572,...,0.500508,0.026442,0.107530,0.029715,0.110983,0.545642,0.055689,0.035060,0.274785,0.056277
46,1.488379,12.089980,160.789995,63.068629,0.943622,0.941151,124.281089,76.244273,106.518469,14.132899,...,0.514839,0.024318,0.115205,0.029617,0.117628,0.517417,0.072167,0.032057,0.275416,0.050938
47,1.490123,12.030498,160.713504,62.432873,0.935791,0.935655,124.904643,76.479517,103.451030,14.102375,...,0.535880,0.026210,0.097585,0.030143,0.111740,0.519734,0.063204,0.036373,0.257467,0.045481
48,1.474581,11.881663,161.457474,63.109523,0.928385,0.932436,123.286057,75.841447,104.148098,14.177608,...,0.589357,0.025657,0.099372,0.027042,0.120305,0.471633,0.068441,0.035354,0.257708,0.046806
49,1.509325,11.791535,160.577791,64.010900,0.909708,0.904053,126.301882,78.853104,103.827557,14.306608,...,0.603508,0.030444,0.095291,0.019160,0.127446,0.572852,0.031849,0.024014,0.287831,0.069999

### 1) 민정

In [48]:
'''지도 시각화를 위한 데이터 전처리'''
df_map = df_final.copy()

# 지도 시각화를 위한 컬럼을 제외하고 삭제
df_map = df_map.drop(['신장(5Cm단위)', '체중(5Kg 단위)', '시력(좌)',
        '시력(우)', '수축기 혈압', '이완기 혈압', '식전혈당(공복혈당)', '혈색소', '요단백', '혈청크레아티닌',
        '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피',], axis=1)

# 컬럼 확인
df_map.columns

Index(['시도코드', '성별코드', '연령대 코드(5세단위)', '흡연상태', '음주여부', '신장병', '당뇨', '빈혈',
       '간기능저하', '고혈압', '저혈압', '저체중', '과체중', '비만'],
      dtype='object')

In [49]:
# csv 추출 : 태블로로 가져감
# df_map.to_csv("df_map.csv")

In [54]:
list(df_map['시도코드'].unique())

[44, 47, 11, 48, 41, 42, 43, 46, 45, 49]

In [55]:
code = list(df_map['시도코드'].unique())
name = ['충청남도', '경상북도', '서울특별시', '경상남도', '경기도',
        '강원도', '충청북도', '전라남도', '전라북도', '제주특별자치도']

def change_name(x):
    if x in code:
        return name[code.index(x)]
    else:
        return x

df_map['시도명'] = df_map['시도코드'].apply(lambda x: change_name(x))

In [56]:
# 확인
df_map

,시도코드,성별코드,연령대 코드(5세단위),흡연상태,음주여부,신장병,당뇨,빈혈,간기능저하,고혈압,저혈압,저체중,과체중,비만,시도명
0,44,1,9,1.0,0.0,0.0,0,0,0.000000,0,0,0,0,0,충청남도
1,47,2,13,1.0,0.0,0.0,0,0,0.000000,0,0,0,1,0,경상북도
2,11,2,12,1.0,0.0,0.0,0,0,0.333333,1,0,0,0,0,서울특별시
3,48,1,13,1.0,0.0,0.0,1,0,1.000000,1,0,0,1,0,경상남도
4,41,2,12,1.0,0.0,0.0,0,0,0.000000,1,0,0,0,0,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,41,2,13,1.0,0.0,0.0,0,0,0.000000,1,0,0,1,0,경기도
249996,48,2,12,1.0,1.0,0.0,0,0,0.000000,0,0,0,0,0,경상남도
249997,48,1,9,1.0,1.0,0.0,0,0,0.000000,0,0,0,0,0,경상남도
249998,48,2,9,1.0,0.0,0.0,0,0,0.000000,1,0,0,1,0,경상남도
249999,41,1,11,2.0,0.0,0.0,0,0,0.000000,1,0,0,0,0,경기도

In [57]:
# xlsx 추출 : 태블로로 가져감
df_map.to_excel("./data/df_map.xlsx")

In [59]:
df_map

,시도코드,성별코드,연령대 코드(5세단위),흡연상태,음주여부,신장병,당뇨,빈혈,간기능저하,고혈압,저혈압,저체중,과체중,비만,시도명
0,44,1,9,1.0,0.0,0.0,0,0,0.000000,0,0,0,0,0,충청남도
1,47,2,13,1.0,0.0,0.0,0,0,0.000000,0,0,0,1,0,경상북도
2,11,2,12,1.0,0.0,0.0,0,0,0.333333,1,0,0,0,0,서울특별시
3,48,1,13,1.0,0.0,0.0,1,0,1.000000,1,0,0,1,0,경상남도
4,41,2,12,1.0,0.0,0.0,0,0,0.000000,1,0,0,0,0,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,41,2,13,1.0,0.0,0.0,0,0,0.000000,1,0,0,1,0,경기도
249996,48,2,12,1.0,1.0,0.0,0,0,0.000000,0,0,0,0,0,경상남도
249997,48,1,9,1.0,1.0,0.0,0,0,0.000000,0,0,0,0,0,경상남도
249998,48,2,9,1.0,0.0,0.0,0,0,0.000000,1,0,0,1,0,경상남도
249999,41,1,11,2.0,0.0,0.0,0,0,0.000000,1,0,0,0,0,경기도